<mat-card *ngIf="realUser$ | async as fullUser; else loading" dense>
    <mat-card-title>
        <div>
            firstName: {{ fullUser.firstName }}
            <br/>
            lastName: {{ fullUser.lastName }}
        </div>
    </mat-card-title>
    <mat-card-subtitle>
        id: {{ fullUser.id }}
    </mat-card-subtitle>
    <img
        mat-card-image
        *ngIf="!!fullUser.filePath; else no_file"
        src="{{ baseUrl }}{{ fullUser.filePath }}"
        alt="{{ fullUser.firstName }} {{ fullUser.lastName }}"
        class="card_image"
    />
    <mat-card-content>
        age: {{ fullUser.age }}

        <ng-template #no_file>
            <div>No image</div>
        </ng-template>
    </mat-card-content>
</mat-card>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>
