<mat-accordion *ngIf="users?.length !== 0; else notFound">
    <mat-expansion-panel *ngFor="let user of users">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ user | json }}
            </mat-panel-title>
            <mat-panel-description class="no-grow">
                <button
                    mat-icon-button
                    type="button"
                    aria-label="Edit"
                    (click)="edit(user.id)">

                    <mat-icon aria-label="Edit">border_color</mat-icon>
                </button>
                <button
                    mat-icon-button
                    type="button"
                    aria-label="Destroy"
                    (click)="destroy(user.id)">

                    <mat-icon aria-label="Destroy">delete_forever</mat-icon>
                </button>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <app-user-info [user]="user"></app-user-info>

        <mat-action-row>
            <button
                mat-icon-button
                type="button"
                aria-label="Edit"
                (click)="edit(user.id)">

                <mat-icon aria-label="Edit">border_color</mat-icon>
            </button>
            <button
                mat-icon-button
                type="button"
                aria-label="Destroy"
                (click)="destroy(user.id)">

                <mat-icon aria-label="Destroy">delete_forever</mat-icon>
            </button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>

<ng-template #notFound>
    <mat-toolbar>Users not found</mat-toolbar>
</ng-template>
