/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body * { display: block; }
body img { display: inline-block; }
body strong { display: inline-block; }
body b { display: inline-block; }
body s { display: inline-block; }
body em { display: inline-block; }
body u { display: inline-block; }
body span { display: inline-block; }

.row {
    display: flex;
    flex-direction: row;
}

.col {
    flex: 1;
    margin-right: 20px;
}

.col:last-child {
    margin-right: 0;
}

.text_center {
    text-align: center;
}

.full-width {
    width: 100%;
}

.icon_size-16 {
    width: 16px !important;
    height: 16px !important;
    font-size: 16px;
    line-height: 16px;
}

.icon_size-32 {
    width: 32px !important;
    height: 32px !important;
    font-size: 32px;
    line-height: 32px;
}

.icon_size-64 {
    width: 64px !important;
    height: 64px !important;
    font-size: 64px;
    line-height: 64px;
}

.icon_size-128 {
    width: 128px !important;
    height: 128px !important;
    font-size: 128px;
    line-height: 128px;
}
